{* This is the welcome page, you can delete it *}

{block content}
	<h1>Ankety</h1>

    <div class="row">
	    {control survey-1}
        {control survey-2}
        {control survey-3}
    </div>
{/block}

{block scripts}
{include parent}

{/block}

{block head}
{/block}
