{snippet}
<div class="col-md-4 col-sm-4">
    <h2>{$survey->getName()}</h2>
    <h3>{$survey->getQuestion()}</h3>

    {if $surveyAnswerAddResult && $surveyAnswerAddResult->getErrors()}
        <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {foreach $surveyAnswerAddResult->getErrors() as $error}
                {$error} <br />
            {/foreach}
        </div>
    {/if}
    {if $surveyAnswerAddResult && $surveyAnswerAddResult->isSuccess()}
        <div class="alert alert-success alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Thank you for your answer!
        </div>
    {/if}

    {foreach $survey->getSurveyItems() as $surveyItem}
        <div class="col-md-12">
            <strong><a n:href="vote! $surveyItem->getId()" class="ajax"{*href="#" class="survey-vote"*} data-id="{$surveyItem->getId()}">{$surveyItem->getName()}</a></strong>
            <span class="pull-right">{if isset($answerPercentages[$surveyItem->getId()])}{$answerPercentages[$surveyItem->getId()]}%{else}0%{/if}</span>
            <div class="progress progress-danger active">
                <div class="bar" style="width: {if isset($answerPercentages[$surveyItem->getId()])}{$answerPercentages[$surveyItem->getId()]|noescape}%{else}0%{/if}; height: 100%; background-color: {$surveyItem->getColorBack()}"></div>
            </div>
        </div>
    {/foreach}
</div>
{/snippet}